
 <form [formGroup]="fizzbuzzForm" (ngSubmit)="AddRecord">
 <div class="form-group">
  <label>Please enter a number or numbers separated by comma:</label>
  <p>
    <input type="text" size="50" formControlName="txtActualNumbers" placeholder="enter here numbers separated with a comma" name="txtActualNumbers" class="form-control" id="txtActualNumbers">
  </p>
 </div>
</form>
 <p>
   <button (click)="getfizzbuzzNumbers()"> 
   {{this.ButtonTextChangedToReset == false ? 'Play' : 'Reset'}}
  </button>
 </p>
<ul class="fizzbuzznumbersUL">
  <li *ngFor="let fizzbuzznumber of fizzbuzznumbers">
    <span class="badge">{{fizzbuzznumber.actualNumber}}</span> {{fizzbuzznumber.fizzBuzzValue}}
  </li>
</ul>

