<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-fizzbuzz-numbers></app-fizzbuzz-numbers>
  <p>
      <small>
          Designed and developed by Walubengo Muliro Singoro 
      </small>
  </p>
</div>
<router-outlet></router-outlet>
